// variables
$height_topBar: 2.5em;

$height_nav: 5.5em;

$primary-color: #47BAC1;
$black: #252525;
$background-color: #EEEEEE;

// imports
@import "node_modules/materialize-css/sass/materialize.scss";
@import "./header/index.scss";
@import "./profile/index.scss";
@import "./shop/index.scss";
@import "./product/index.scss";
@import "./search/index.scss";
@import "./review/index.scss";

body {
  background-color: $background-color;
}

main {
  margin: 2em auto;
}

blockquote {
  margin: 20px 0;
  padding-left: 1.5rem;
  border-left: 5px solid #47BAC1 !important;
}

.wrapper {
  max-width: 1012px
}

.title {
  color: $primary-color;
}

.color-green {
  color: green;
}

.border-right {
  border-right: 1px solid #EEE;
}

.margin-top {
  margin-top: 1em;
}

.collection .active {
  background-color: $primary-color !important;
}

.collection .collection-item {
  color: $primary-color !important;
}

.collection .collection-item.active {
  color: white !important;
}

.collection .collection-item.header {
    background-color: #eee;
    color: black !important;
}

.social {
  margin: 0;
}

.social li {
  display: inline-block;
  line-height: $height_topBar;
  color: #525252 !important;
}

.social li a {
  padding: .5em;
  color: white;
  font-weight: 300;
}

.menu_cat {
  margin: 0 !important;
}

.menu_cat > div {
  padding: 0 !important;
}

.rating {
  color: #d5d5d5;
  cursor: pointer;
  transition: all 0.3s ease;
  font-size: 1.3em;
}

.rating .fa.active {
  color: orange;
}

.rating:hover {
  color: $primary-color;
}

.price {
  color: orange;
}

.price-old {
  color: #d5d5d5 !important;
  margin-right: 5px !important;
  text-decoration: line-through;
}

.chip a {
  color: $black;
}

.no_found_text {
  text-align: center;
  color: #999;
}

@media #{$small-and-down} {
  // styles for small screens and down
  .wrapper {
    width: 95%;
  }
}
@media #{$medium-and-up} {
  // styles for medium screens and larger
  .wrapper {
    width: 90%;
  }
}
@media #{$medium-and-down} {
  // styles for medium screens and down
  .wrapper {
    width: 95%;
  }
}
@media #{$large-and-up} {
  // styles for large screens and up
  .wrapper {
    width: 85%;
  }
}

@media #{$extra-large-and-up} {
  // styles for extra large screens and up
  .wrapper {
    width: 100%;
  }
}
