{% extends "base.html" %}

{% block title %}
  {{ object.name }}
{% endblock %}

{% block main %}
  <div class="row container product_detail">
    <div class="col s12 m6">
      <img src="{{ object.photo.url }}" class="row photo" width="450" height="450" />
      <div class="row price">
        {% for cat in object.categories.all %}
          <span>{{ cat }}</span>
        {% endfor %}
      </div>
    </div>
    <div class="col s12 m6">
      <div class="row">
        <h3 class="title">{{ object.name|title }}</h3>
        <p>{{ object.description }}</p>
      </div>
      <div class="row">
        <h4 class="price">
          {% if object.new_price %}
            <span class="price-old">{{ object.price }}</span> / ${{ object.new_price }}
          {% else %}
            {{ object.price }}
          {% endif %}
          <br>
        </h4>
        {% if object.new_price %}
          <p>
            Discount {{ object.discount }}%
          </p>
        {% endif %}
      </div>
      <div class="row">
        <div class="col s12 m6">
          <input type="number" min="1" value="1" />
          <a href="#!" class="waves-effect waves-light btn orange">
            <i class="material-icons left">add_shopping_cart</i>
            add to cart
          </a>
        </div>
      </div>
    </div>
    {% if request.user == object.shop.owner %}
      <div class="fixed-action-btn horizontal">
        <a class="btn-floating btn-large red">
          <i class="large material-icons">mode_edit</i>
        </a>
        <ul>
          <li><a href="{% url 'product:edit' object.shop.slug object.pk %}" class="btn-floating orange"><i class="material-icons">mode_edit</i></a></li>
          <li><a href="{% url 'product:delete' object.shop.slug object.pk %}" class="btn-floating red"><i class="material-icons">delete</i></a></li>
        </ul>
      </div>
    {% endif %}
  </div>
{% endblock %}
