{% extends "base.html" %}

{% block title %}
  Home
{% endblock %}

{% block main %}
  <div class="row container">
    <div class="col s12 m4 hide-on-small-only white">
      {% include "components/cat_menu.html" %}
    </div>
    <div class="col s12 m8 white">
      {% include "components/search_form.html" %}
      <div class="row">
        {% for product in object_list %}
          {% include "components/card_product.html" %}
        {% endfor %}
      </div>
    </div>
  </div>
{% endblock %}
