{% extends "base.html" %}

{% block title %}
  {{ object.name }}
{% endblock %}

{% block main %}
  <div class="row container product_detail" data-id="{{ object.id }}">
    <div class="col s12 m6 product_left">
      <div class="row">
        <img src="{{ object.photo.url }}" class="photo" width="450" height="450" />
      </div>
      <div class="row">
        {% for cat in object.categories.all %}
          <div class="chip">
            <a href="{{ cat.slug }}">{{ cat.title }}</a>
          </div>
        {% endfor %}
      </div>
    </div>
    <div class="col s12 m6 product_right">
      <div class="row">
        <h3 class="title">{{ object.name|title }}</h3>
        <p>{{ object.description }}</p>
        <span class="rating left" data-product="{{ object.id }}" title="{{ object.rating }}">
          {% with object.rating as rating %}
            {% include "components/stars.html" %}
          {% endwith %}
        </span>
      </div>
      <div class="row">
        <h4 class="price">
          {% if object.new_price %}
            <span class="price-old">{{ object.price }}</span> / ${{ object.new_price }}
          {% else %}
            {{ object.price }}
          {% endif %}
          <br>
        </h4>
        {% if object.new_price %}
          <p>
            Discount {{ object.discount }}%
          </p>
        {% endif %}
      </div>
      <div class="row">
        <div class="col s12 m6">
          <div class="row">
            <input type="number" min="1" value="1" />
            {% if object.id in shopping_cart %}
              <a href="#!"
                class="waves-effect waves-light btn orange add_or_remove_product_cart"
                data-action="remove">
                <i class="material-icons left">remove_shopping_cart</i>
                remove from cart
              </a>
            {% else %}
              <a href="#!"
                class="waves-effect waves-light btn orange add_or_remove_product_cart"
                data-action="add">
                <i class="material-icons left">add_shopping_cart</i>
                add to cart
              </a>
            {% endif %}
          </div>
        </div>
      </div>
    </div>
    {% if request.user == object.shop.owner %}
      <div class="fixed-action-btn horizontal">
        <a class="btn-floating btn-large red">
          <i class="large material-icons">mode_edit</i>
        </a>
        <ul>
          <li><a href="{% url 'product:edit' object.shop.slug object.pk %}" class="btn-floating orange"><i class="material-icons">mode_edit</i></a></li>
          <li><a href="{% url 'product:delete' object.shop.slug object.pk %}" class="btn-floating red"><i class="material-icons">delete</i></a></li>
        </ul>
      </div>
    {% endif %}
  </div>
  <div class="container white row">
    <h4>reviews</h4>
    <div id="reviews">
      {% for review in reviews %}
        {% include "components/card_comment.html" %}
      {% endfor %}
    </div>
  </div>
{% endblock %}
