{% extends "base.html" %}

{% block title %}
  {{ object.name|title }}
{% endblock %}

{% block main %}
  <div class="row shop container">
    <div class="col s12 m12">
      <div class="row margin-top">
        <div class="col s12 m3 center">
          <div class="shop_logo">
            {% if object.logo %}
              <img src="{{ object.logo.url }}" width="320" height="320" alt="" />
            {% endif %}
          </div>
          <h5>{{ object.name|title }}</h5>
          <a href="{% url 'users:profile' object.owner %}">@{{ object.owner }}</a>
          <div class="row"></div>
          {% if request.user == object.owner %}
          <a href="{% url 'product:new' object.slug %}" class="waves-effect waves-light btn hide-on-med-and-down"><i class="material-icons left">add</i>publish</a>
            <a href="{% url 'product:new' object.slug %}" class="waves-effect waves-light btn hide-on-large-only">publish</a>
            <div class="fixed-action-btn horizontal">
              <a class="btn-floating btn-large">
                <i class="large material-icons">mode_edit</i>
              </a>
              <ul>
                <li><a class="btn-floating blue" href="{% url 'shop:delete' object.slug %}"><i class="material-icons">mode_edit</i></a></li>
                <li><a class="btn-floating red" href="{% url 'shop:edit' object.slug %}"><i class="material-icons">delete</i></a></li>
              </ul>
            </div>
          {% endif %}
        </div>
        <div class="col m9 center hide-on-small-only">
          <div class="cover_image">
            {% if object.cover_image %}
              <img src="{{ object.cover_image.url }}" width="658" height="320" alt="" />
            {% endif %}
          </div>
          <div class="row">
            <p>
              {{ object.description }}
            </p>
          </div>
        </div>
      </div>
    </div>
  </div>

  <div class="row container">
    {% for product in products %}
      <div class="card horizontal product_list">
        <div class="card-image">
          <img src="{{ product.photo.url }}" class="photo" width="120" height="190">
        </div>
        <div class="card-stacked">
          <div class="card-content">
            <h6><a href="{% url 'product:detail' product.pk %}" class="title">{{ product.name|title }}</a></h6>
            {% if product.new_price %}
              <a href="#" class="price-old">{{ product.price }}</a>
              <a href="#" class="price">${{ product.new_price }}</a>
            {% else %}
              <a href="#" class="price">{{ product.price }}</a>
            {% endif %}
          </div>
          <div class="card-action">
            <span class="rating left">
              <i class="fa fa-star" aria-hidden="true"></i>
              <i class="fa fa-star" aria-hidden="true"></i>
              <i class="fa fa-star" aria-hidden="true"></i>
              <i class="fa fa-star" aria-hidden="true"></i>
              <i class="fa fa-star-o" aria-hidden="true"></i>
            </span>
            <a href="#" class="btn btn-floating orange pulse right"><i class="material-icons">add_shopping_cart</i></a>
          </div>
        </div>
      </div>
    {% endfor %}
  </div>
{% endblock %}
