{% extends "base.html" %}

{% load thumbnail %}

{% block title %}
  {{ object.name|title }}
{% endblock %}

{% block main %}
  <div class="row shop container">
    <div class="col s12 m12">
      <div class="row margin-top">
        <div class="col s12 m3 center">
          <div class="shop_logo">
            {% if object.logo %}
              <img src="{{ object.logo.url }}" width="320" height="320" class="responsive-img" />
            {% endif %}
          </div>
          <h5>{{ object.name|title }}</h5>
          <a href="{% url 'users:profile' object.owner %}">@{{ object.owner }}</a>
          <div class="row"></div>
          {% if request.user == object.owner %}
          <a href="{% url 'product:new' object.slug %}" class="waves-effect waves-light btn hide-on-med-and-down"><i class="material-icons left">add</i>publish</a>
            <a href="{% url 'product:new' object.slug %}" class="waves-effect waves-light btn hide-on-large-only">publish</a>
            <div class="fixed-action-btn horizontal">
              <a class="btn-floating btn-large">
                <i class="large material-icons">mode_edit</i>
              </a>
              <ul>
                <li><a class="btn-floating blue" href="{% url 'shop:edit' object.slug %}"><i class="material-icons">mode_edit</i></a></li>
                <li><a class="btn-floating red" href="{% url 'shop:delete' object.slug %}"><i class="material-icons">delete</i></a></li>
              </ul>
            </div>
          {% endif %}
        </div>
        <div class="col m9 center hide-on-small-only">
          <div class="row cover_image">
            {% if object.cover_image %}
              {% thumbnail object.cover_image "800x380" crop="top" as img %}
                  <img src="{{ img.url }}" width="{{ img.width }}" height="{{ img.height }}" class="responsive-img">
              {% endthumbnail %}
            {% endif %}
          </div>
          <div class="row">
            <p>
              {{ object.description }}
            </p>
          </div>
        </div>
      </div>
    </div>
  </div>

  <div class="row container">
    {% for product in products %}
      {% include "components/card_product.html" %}
    {% endfor %}
  </div>
{% endblock %}
