{% extends "blank.html" %}

{% load static %}

{% block body %}
  <header class="header">
    <div class="topBar">
      <div class="row container">
        <div class="col s6">
          <ul class="social">
            <li><a href="#"><i class="fa fa-facebook" aria-hidden="true"></i></a></li>
            <li><a href="#"><i class="fa fa-twitter" aria-hidden="true"></i></a></li>
            <li><a href="#"><i class="fa fa-instagram" aria-hidden="true"></i></a></li>
            <li><a href="#"><i class="fa fa-linkedin" aria-hidden="true"></i></a></li>
          </ul>
        </div>
        <div class="col s6">
          <ul class="social right">
            <li><a href="#"><i class="fa fa-search"></i></a></li>
            <li>|</li>
            {% if not request.user.is_authenticated %}
              <li><a href="{% url 'auth:signin' %}">Signin</a></li>
              <li>or</li>
              <li><a href="{% url 'auth:signup' %}">Signup</a></li>
            {% else %}
              <li><a href="{% url 'users:profile' request.user.username %}">@{{ request.user.username }}</a></li>
              <li><a href="#!" class="orange"><strong>${{ request.user.money }}</strong></a></li>
              <li><a href="{% url 'auth:logout' %}">Logout</a></li>
            {% endif %}
          </ul>
        </div>
      </div>
    </div>
    <div class="nav">
      <div class="row container">
        <div class="col s12 m2 content_logo">
          <h2 class="logo">Stores-<span>Center</span></h2>
        </div>
        <div class="col m10 hide-on-small-only nav_bar">
          <nav>
            <ul class="right">
              {% for item in menu %}
                <li><a href="{{ item.url }}" {% if item.active %}class="active"{% endif %}>{{ item.name }}</a></li>
              {% endfor %}
              <li>
                <a href="#" class="card">
                  <i class="material-icons">shopping_cart</i>
                  <span class="new badge blue" data-badge-caption="Products" id="cart_count">{{ shopping_cart.count }}</span>
                </a>
              </li>
            </ul>
          </nav>
        </div>
      </div>
    </div>
  </header>
  <main class="white">
    {% block main %}

    {% endblock %}
  </main>
{% endblock %}
