.product_detail img.photo {
  width: 100%;
  height: 100%;
}

.product_detail .price {
  color: #ffab40;
}

.product_list img.photo {
  max-width: 120px !important;
  max-height: 190px !important;
  width: 100% !important;
  height: 100% !important;
}

@media #{$medium-and-up} {

  .product_left .row {
    padding-right: .2em;
  }

  .product_right .row {
    padding-left: .2em;
  }
}
