<div class="card horizontal card_comment" data-user="{{ review.user.username }}">
  <div class="card-stacked">
    <div class="card-content">
        <a
          href="{% url 'users:profile' review.user.username %}"
          class="username">@{{ review.user.username }}</a>
      <p>{{ review.comment }}</p>
    </div>
    <div class="card-action">
      <span class="left" data-product="{{ review.product.id }}" title="{{ review.rating }}">
        {% with review.rating as rating %}
          {% include "components/stars.html" %}
        {% endwith %}
      </span>
    </div>
  </div>
</div>
