{% load thumbnail %}

<div class="card horizontal product_list">
  <div class="card-image">
    {% thumbnail product.photo "120x190" crop="center" as img %}
        <img src="{{ img.url }}" width="{{ img.width }}" height="{{ img.height }}">
    {% endthumbnail %}
  </div>
  <div class="card-stacked">
    <div class="card-content">
      <h6>
        <a href="{% url 'product:detail' product.pk %}" class="title">
          {{ product.name|title }}
        </a>
      </h6>
      {% if product.new_price %}
        <a href="#" class="price-old">{{ product.price }}</a>
        <a href="#" class="price">${{ product.new_price }}</a>
      {% else %}
        <a href="#" class="price">{{ product.price }}</a>
      {% endif %}
    </div>
    <div class="card-action">
      <span class="rating left" data-product="{{ product.id }}">
        <i class="fa {% if product.rating >= 1 %}fa-star{% else %}fa-star-o{% endif %}" aria-hidden="true" data-index="1"></i>
        <i class="fa {% if product.rating >= 2 %}fa-star{% else %}fa-star-o{% endif %}" aria-hidden="true" data-index="2"></i>
        <i class="fa {% if product.rating >= 3 %}fa-star{% else %}fa-star-o{% endif %}" aria-hidden="true" data-index="3"></i>
        <i class="fa {% if product.rating >= 4 %}fa-star{% else %}fa-star-o{% endif %}" aria-hidden="true" data-index="4"></i>
        <i class="fa {% if product.rating >= 5 %}fa-star{% else %}fa-star-o{% endif %}" aria-hidden="true" data-index="5"></i>
      </span>
      <a href="#" class="btn btn-floating orange right">
        <i class="material-icons">add_shopping_cart</i>
      </a>
    </div>
  </div>
</div>
