{% extends "base.html" %}

{% block title %}
  {% if object.get_full_name %}
    {{ object.get_full_name|title }}
  {% else %}
    {{ object.username }}
  {% endif %}
{% endblock %}

{% block main %}
  <div class="row container">
    <div class="col s12">
      <div class="row">
        <p class="center profile-img">
          <i class="large material-icons circle">perm_identity</i>
        </p>
        <div class="row center">
          <h3>
            {% if object.get_full_name %}
              {{ object.get_full_name|title }}
            {% else %}
              {{ object.username }}
            {% endif %}
          </h3>
          <p>
            {{ object.email }}
          </p>
        </div>
      </div>
    </div>
    <div class="col s12">
      <div class="row">
        {% for shop in shops %}
          {% include "components/shop.html" %}
        {% endfor %}
      </div>
    </div>
  </div>
{% endblock %}
